


.balaofala{
    width: 100%;   
    background-color: rgb(66,201,32);
    color: rgb(0, 78, 26);
    text-align: center;    
    font-family: monospace;
    border-style: dotted;
    border-color: rgb(22,159,99);
    font-size: 8pt;
    
}


#bocaaberta{
    width: 50px;
   height: 100px;
}
#bocaaberta2{
    width: 50px;
   height: 100px;
}

#bocaaberta3{
    width: 50px;
   height: 100px;
}

#falando1{
    text-align: center;
    display: flex;
    margin-left: 0%;
    width: 90%;
}
#falando2{
    text-align: center;
    display: flex;
    margin-left: 0%;
    width: 90%;
}
#falando3{
    text-align: center;
    display: flex;
    margin-left: 0%;
    width: 90%;
}
#outrosprojetos{
    text-align: center;
}
.proj{
color: rgb(140, 255, 188);
width: 500px;
height: 200px;
background-color: rgb(22,159,99);
margin: 5%;
border-style: dashed;
border-color: rgb(140, 255, 188);
text-align: center;
}
#projl1{
    font-family: monospace;
    display: flex;
}
.fttrab{
    width: 90%;
    
}
#contato{
    text-align: center;
    font-family: monospace;
}
#contato a{
    font-family: monospace;
color: rgb(66,201,32);
}
#contato a:hover{
    font-family: monospace;
    color: rgb(255, 255, 255);
    }
/*Index*/
body{
    background-color: black;
    text-align: center;
    color: rgb(66,201,32);
}

#titulopg1{

    color: rgb(66,201,32);
    
}
.escolha{
padding: 5%;
padding-top: 0% ;
}
.escolha:hover{  
    
   filter:drop-shadow(0 0 5px  rgb(255, 255, 255));
    }
#mãos{
    display: flex;
    padding-left: 0%;
}
#Eu{
    width: 50%;
  padding-bottom: 0%;
}
#azul{

    width: 130%;
}
#verm{
    padding-top:20% ;
    width: 130%;
    padding-left: 0%;
}
.barra {
    width: 300px;
    height: 20px;
    background-color: rgb(66,201,32);
    
    
    /* todos os cantos como é um quadrado poderia colocar 
     border-radius: 10px */
}