header{
    text-align: center;
}
body{
    background-color: black;
    
    color: rgb(66,201,32);
}

.barra{
    width: 0px;
    height: 30px;
    background-color: rgb(66,201,32);
    transition: width 2s;
    filter:drop-shadow(0 0 5px  rgb(199, 255, 213));
    color: rgb(0, 78, 26);
    text-align: center;    
   font-family: monospace;
}
.balaofala{
    width: 50%;   
    background-color: rgb(66,201,32);
    color: rgb(0, 78, 26);
    text-align: center;    
    font-family: monospace;
    border-style: dotted;
    border-color: rgb(22,159,99);
}
.balaofala:hover{
    filter:drop-shadow(0 0 5px  rgb(199, 255, 213));
}
.conhecimentos{
    display: flex;
    

}
.cadfechado{
    width: 5%;
}
.cadfechado:hover{
    
    filter:drop-shadow(0 0 5px  rgb(199, 255, 213));
}
#bocaaberta:hover{
 
    filter:drop-shadow(0 0 5px  rgb(199, 255, 213));
}
#bocaaberta{
    width: 7%;
    
}
#bocaaberta2{
    width: 7%;
    
}
#bocaaberta2:hover{
    
    filter:drop-shadow(0 0 5px  rgb(199, 255, 213));
}
#bocaaberta3{
    width: 7%;
    
}
#bocaaberta3:hover{
    
    filter:drop-shadow(0 0 5px  rgb(199, 255, 213));
}
#falando1{
    text-align: center;
    display: flex;
    margin-left: 30%;
    width: 90%;
}
#falando2{
    text-align: center;
    display: flex;
    margin-left: 30%;
    width: 90%;
}
#falando3{
    text-align: center;
    display: flex;
    margin-left: 30%;
    width: 90%;
}
#outrosprojetos{
    text-align: center;
}
.proj{
color: rgb(140, 255, 188);
width: 500px;
height: 500px;
background-color: rgb(22,159,99);
margin: 5%;
border-style: dashed;
border-color: rgb(140, 255, 188);
text-align: center;
}
#projl1{
    font-family: monospace;
    display: flex;
}
.fttrab{
    width: 90%;
    
}
#contato{
    text-align: center;
    font-family: monospace;
}
#contato a{
    font-family: monospace;
color: rgb(66,201,32);
}
#contato a:hover{
    font-family: monospace;
    color: rgb(255, 255, 255);
    }
